* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&family=Mulish:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Beastly&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

@font-face {
    font-family: themillon;
    src: url(../fonts/AveBetwan.ttf);
}

.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2vh;
}
.nav__logo{
    width: 64px;
    height: 64px;
}

.nav__logo:hover{
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}
/*Menú de pagina Index  */

.menureceta__img {
    width: 15vh;
    height: 15vh;
    margin-top: 2%;
    margin-left: 3vh;
    margin-bottom: 10%;
    border: 10px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 4px 6px 16px 3px rgba(82, 64, 64, 0.45);
}

.menureceta__img:hover {
    transform: scale(1.2);
    transition: all 0.5s ease-in-out;
}

/* Fin de menú index */
.titulo {
    font-family: themillon;
    color: #ff7f50;
    text-align: center;
    font-size: 60px;
    margin-top: auto;
}

hr {
    margin-left: 25%;
    margin-right: 25%;
    color: black;
}
.titulo_p{
    color: #ca785a;
    font-size: large;
}
.email{
    margin-bottom: 5px;
}
h4 {
    margin-top: 2%;
    margin-bottom: 2rem;
    text-decoration: underline;
    color: #ca785a;
    font-size: larger;
}
.h4--modificador{
    margin-top: 3vh;
    margin-left: 4vh;
    margin-bottom: 4vh;
    text-align: left;
    text-decoration: none;
   
}

.card {
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.div__linkVideo {
    width: 75%;
    height: 50vh;
    align-items: center;
}

.div__listaIngredientes {
    color: #ca785a;
}

#container {

    background-image: url(../img/newsletter.png);
    box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
    text-align: center;
    border-radius: 5px;
    margin: 3em auto;
    height: 40vh;
    width: 100%;
    padding: 2em;
}


/* Pagina Receta */
.sinEstilo{
    list-style: none;
    text-decoration: underline;
}
/* Footer */
.footer {
    color: #726c6cc9;
    width: 100%;
    grid-area: footer;
    display: flex;
    justify-content: space-evenly;
    background-color: #1E1D1D;
    height: 100%;


}
.footer__Contenedor {
    display: flex;
    height: 15vh;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}


.footer__bannerLogo {
    width: 200px;
    margin-top: 2vh;
}

.footer__lista {
    margin-top: 2vh;
    list-style: none;
    text-align: center;
}

.footer__listaRedes {
    list-style: none;
    display: flex;   
}

.footer__itemsL {
    list-style: none;
    margin-left: 20px;
    margin-right: 20px;
}

.footer__logoRedes {
    width: 32px;
    height: 32px;
    align-items: stretch;
    margin-top: 2vh;
}

.footer__Webs {
    margin-top: 2vh;

}

.ListaRED {
    list-style: none;
}

/* Fin Footer */
/* Inicio de query pantallas de 800px a 1400px */
@media (min-width: 360px) and (max-width: 784px) {

         
}

/* Inicio de media Query Celular */
@media (min-width: 360px) and (max-width: 784px) {
    
    .menureceta__img {
        width: 7vh;
        height: 7vh;
        margin-left: 0vh;
        margin-bottom: 10%;
        border: 10px;
        border-radius: 50%;
        object-fit: cover;
        box-shadow: 4px 6px 16px 3px rgba(82, 64, 64, 0.45);
    }
     #MenuBar{
     display:none;
     }   
     
     #container {
     height: 45vh;
    }
}

